body{
   background-color: rgb(51, 137, 212);
   height: 800px;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 50px;
    color: rgb(0, 140, 255) rgb(255, 192, 225);
}

.keyboard{
    background: rgba(255, 255, 255,0.08);
    backdrop-filter: blur(12px);
    border-radius: 25px;
    padding: 25px;
    box-shadow: 
    0 0 30px rgba(96, 165, 250,0.3)
    0 0 50px rgba(244, 114, 182, 0.2);
}


.row1,
.row2,
.row3,
.row4,
.row5,
.row6{
    display: flex;
    width: 100%;
    border: none;
    color: rgb(0, 179, 255);
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.row6{
    margin-bottom: 0;
}

.keyboard div div{
    width: 55px;
    height: 55px;
    background: -linear-gradient(145deg, rgb(0, 140, 255));
}